### Car insurance claim

As you are working in the insurance company. Company wants to know the reason why claim was not made. Doing so would allow insurance company to improve there policy for giving loan to the customer.

Why solve this project?

This is imbalanced dataset . Here 0 - Claim was not made, 1 - Claim made. After completing this project, you will have the better understanding of how to build deal with imbalanced dataset. In this project, you will apply the following concepts.

- Train-test split
- Standard scaler
- Logistic Regression
- SMOTE
- feature scaling

In [3]:
import warnings
import pprint
warnings.filterwarnings('ignore')
pd.set_option('display.max_rows', 5000)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.options.display.float_format = '{:.2f}'.format

##### Data loading and cleaning

In [1]:
path

In [13]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

# Load the data
df = pd.read_csv(path)
df.head()

          ID  KIDSDRIV   AGE  HOMEKIDS   YOJ   INCOME PARENT1  HOME_VAL MSTATUS GENDER      EDUCATION     OCCUPATION  TRAVTIME     CAR_USE BLUEBOOK  TIF CAR_TYPE RED_CAR OLDCLAIM  CLM_FREQ REVOKED  MVR_PTS CLM_AMT  CAR_AGE  CLAIM_FLAG
0   63581743         0 60.00         0 11.00  $67,349      No        $0    z_No      M            PhD   Professional        14     Private  $14,230   11  Minivan     yes   $4,461         2      No        3      $0    18.00           0
1  132761049         0 43.00         0 11.00  $91,449      No  $257,252    z_No      M  z_High School  z_Blue Collar        22  Commercial  $14,940    1  Minivan     yes       $0         0      No        0      $0     1.00           0
2  921317019         0 48.00         0 11.00  $52,881      No        $0    z_No      M      Bachelors        Manager        26     Private  $21,970    1      Van     yes       $0         0      No        2      $0    10.00           0
3  727598473         0 35.00         1 10.00  $16,039      No  $124,191     Yes    z_F  z_High School       Clerical         5     Private   $4,010    4    z_SUV      no  $38,690         2      No        3      $0    10.00           0
4  450221861         0 51.00         0 14.00      NaN      No  $306,251     Yes      M   <High School  z_Blue Collar        32     Private  $15,440    7  Minivan     yes       $0         0      No        0      $0     6.00           0

In [14]:
# replace the $ symbol
columns = ['INCOME','HOME_VAL','BLUEBOOK','OLDCLAIM','CLM_AMT']

for col in columns:
    df[col].replace({'\$': '', ',': ''}, regex=True,inplace=True)

# store independent variable
X = df.drop(['CLAIM_FLAG'],axis=1)

# store dependent variable
y = df['CLAIM_FLAG']

# Check the value counts
count = y.value_counts()
print(count)

# spliting the dataset
X_train,X_test,y_train,y_test=train_test_split(X,y ,test_size=0.3,random_state=6)

0    7556
1    2746
Name: CLAIM_FLAG, dtype: int64

##### Convert Datatypes

In [15]:
# Convert object type to float on X_train
X_train[['INCOME','HOME_VAL','BLUEBOOK','OLDCLAIM','CLM_AMT']]=X_train[['INCOME','HOME_VAL','BLUEBOOK','OLDCLAIM','CLM_AMT']].astype(float)

# Convert object type to float on X_test
X_test[['INCOME','HOME_VAL','BLUEBOOK','OLDCLAIM','CLM_AMT']]=X_test[['INCOME','HOME_VAL','BLUEBOOK','OLDCLAIM','CLM_AMT']].astype(float)

# check missing values in X_train
print(pd.DataFrame({'total_missing': X_train.isnull().sum(), 'perc_missing': (X_train.isnull().sum()/7211)*100}))

# check missing values in X_test
print(pd.DataFrame({'total_missing': X_test.isnull().sum(), 'perc_missing': (X_test.isnull().sum()/3091)*100}))

            total_missing  perc_missing
ID                      0          0.00
KIDSDRIV                0          0.00
AGE                     4          0.06
HOMEKIDS                0          0.00
YOJ                   391          5.42
INCOME                392          5.44
PARENT1                 0          0.00
HOME_VAL              399          5.53
MSTATUS                 0          0.00
GENDER                  0          0.00
EDUCATION               0          0.00
OCCUPATION            465          6.45
TRAVTIME                0          0.00
CAR_USE                 0          0.00
BLUEBOOK                0          0.00
TIF                     0          0.00
CAR_TYPE                0          0.00
RED_CAR                 0          0.00
OLDCLAIM                0          0.00
CLM_FREQ                0          0.00
REVOKED                 0          0.00
MVR_PTS                 0          0.00
CLM_AMT                 0          0.00
CAR_AGE               438          6.07
            total_missing  perc_missing
ID                      0          0.00
KIDSDRIV                0          0.00
AGE                     3          0.10
HOMEKIDS                0          0.00
YOJ                   157          5.08
INCOME                178          5.76
PARENT1                 0          0.00
HOME_VAL              176          5.69
MSTATUS                 0          0.00
GENDER                  0          0.00
EDUCATION               0          0.00
OCCUPATION            200          6.47
TRAVTIME                0          0.00
CAR_USE                 0          0.00
BLUEBOOK                0          0.00
TIF                     0          0.00
CAR_TYPE                0          0.00
RED_CAR                 0          0.00
OLDCLAIM                0          0.00
CLM_FREQ                0          0.00
REVOKED                 0          0.00
MVR_PTS                 0          0.00
CLM_AMT                 0          0.00
CAR_AGE               201          6.50

##### Dealing with missing values

In [16]:

# drop missing values
X_train.dropna(subset=['YOJ','OCCUPATION'],inplace=True)
X_test.dropna(subset=['YOJ','OCCUPATION'],inplace=True)


y_train=y_train[X_train.index]
y_test=y_test[X_test.index]



# fill missing values with mean
X_train['AGE'].fillna((X_train['AGE'].mean()), inplace=True)
X_test['AGE'].fillna((X_train['AGE'].mean()), inplace=True)

X_train['CAR_AGE'].fillna((X_train['CAR_AGE'].mean()), inplace=True)
X_test['CAR_AGE'].fillna((X_train['CAR_AGE'].mean()), inplace=True)



X_train['INCOME'].fillna((X_train['INCOME'].mean()), inplace=True)
X_test['INCOME'].fillna((X_train['INCOME'].mean()), inplace=True)



X_train['HOME_VAL'].fillna((X_train['HOME_VAL'].mean()), inplace=True)
X_test['HOME_VAL'].fillna((X_train['HOME_VAL'].mean()), inplace=True)


print(X_train.isnull().sum())
print(X_test.isnull().sum())

ID            0
KIDSDRIV      0
AGE           0
HOMEKIDS      0
YOJ           0
INCOME        0
PARENT1       0
HOME_VAL      0
MSTATUS       0
GENDER        0
EDUCATION     0
OCCUPATION    0
TRAVTIME      0
CAR_USE       0
BLUEBOOK      0
TIF           0
CAR_TYPE      0
RED_CAR       0
OLDCLAIM      0
CLM_FREQ      0
REVOKED       0
MVR_PTS       0
CLM_AMT       0
CAR_AGE       0
dtype: int64
ID            0
KIDSDRIV      0
AGE           0
HOMEKIDS      0
YOJ           0
INCOME        0
PARENT1       0
HOME_VAL      0
MSTATUS       0
GENDER        0
EDUCATION     0
OCCUPATION    0
TRAVTIME      0
CAR_USE       0
BLUEBOOK      0
TIF           0
CAR_TYPE      0
RED_CAR       0
OLDCLAIM      0
CLM_FREQ      0
REVOKED       0
MVR_PTS       0
CLM_AMT       0
CAR_AGE       0
dtype: int64

Obervation:

- We can see that the features ['YOJ','OCCUPATION'] varies person to person. We can not deal with that type of missing value so we are going to remove the row from this column.
- AGE,CAR_AGE,INCOME and HOME_VAL contains the numerical values.

##### Convert the categorical values to numeric value

In [17]:
from sklearn.preprocessing import LabelEncoder
# Columns are given
columns = ["PARENT1","MSTATUS","GENDER","EDUCATION","OCCUPATION","CAR_USE","CAR_TYPE","RED_CAR","REVOKED"]

# Code starts here
for col in columns:
    # Instantiate label encoder
    le = LabelEncoder()
    # fit and transform label encoder on X_train
    X_train[col]=le.fit_transform(X_train[col].astype(str))
    # transform label encoder on X_test
    X_test[col]=le.transform(X_test[col].astype(str))

##### Prediction check

In [18]:
from sklearn.metrics import precision_score 
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression



# code starts here 

# Instantiate logistic regression
model = LogisticRegression(random_state = 6)

# fit the model
model.fit(X_train,y_train)

# predict the result
y_pred =model.predict(X_test)

# calculate the f1 score
score = accuracy_score(y_test, y_pred)
print(score)

0.7427113702623906

##### Dealing with Imbalnced data

In the previous task, we got an accuracy of 74%. One might think that it is a good score but even if the model always predicts 0, you will still get 74% accuracy(The target value distribution is 74% 0s and 26% 1s)

So if you applied model on this dataset it will give us a bad prediction. To overcome we need to use the technic Oversampling or Undersampling technic. Oversampling in data analysis is techniques used to adjust the class distribution of an imbalanced dataset. In this task, you are going to apply the SMOTE to adjust the class distribution of the data set. While working with the learning model, it is important to scale the features to a range which is centered around zero so that the variance of the features are in the same range. If the feature’s variance is orders of magnitude more than the variance of other features, that particular feature might dominate other features in the dataset and our model will not train well which gives us bad model

In [19]:
from sklearn.preprocessing import StandardScaler
from imblearn.over_sampling import SMOTE

# code starts here

# Instantiate SMOTE 
smote = SMOTE(random_state=9)

# fit smote on training set
X_train, y_train = smote.fit_sample(X_train, y_train)

# code ends here

# Instantiate a standardScaler
scaler = StandardScaler()

# Fit on training set only.
X_train = scaler.fit_transform(X_train)

# Apply transform to the test set.
X_test = scaler.transform(X_test)

##### Prediction Check after dealing with imbalanced data

In [20]:
 

# Instantiate logistic regression
model = LogisticRegression()

# fit the model
model.fit(X_train,y_train)

# predict the result
y_pred =model.predict(X_test)

# calculate the f1 score
score = accuracy_score(y_test, y_pred)
print(score)

0.9897959183673469